<div class="accounts">
  <div class="accounts__item accounts__item--active">
    <span class="accounts__pill pill pill--solid">3</span>
    <img class="accounts__avatar"
         src="https://creer.casecompany.paris/uploads/themes/original/5c9deb858a91e.png"
         alt="">
  </div>
  <div class="accounts__item">
    <img class="accounts__avatar"
         src="https://t4.ftcdn.net/jpg/02/60/06/73/500_F_260067304_OQ2dL97DGSv0goBsQXSaYCjaq9nb8wrM.jpg"
         alt="">
  </div>
  <div class="accounts__item">
    <span class="accounts__pill pill pill--solid">8</span>
    <img class="accounts__avatar"
         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQtNAzHal9Qv7jD3-8w63hz3k0AE1L3GyqAoYXUnOJrLvMDwVT8A"
         alt="">
  </div>
</div>
