<% if alert.present? %>
  <ul class="notification alert">
    <li><%= alert %></li>
  </ul>
<% end %>

<% if notice.present? %>
  <ul class="notification notice">
    <li><%= notice %></li>
  </ul>
<% end %>
