<% content_for :title, 'Login' %>

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<form>
    <h3>Login here</h3>

    <label for="email">Email</label>
    <input type="email" placeholder="Enter email address" id="email" name="email" required autofocus>

    <label for="password">Password</label>
    <input type="password" placeholder="Enter password" id="password" name="password" required>

    <button>Log In</button>
    <div class="social">
        <div class="go">
            <i class="fab fa-google"></i>
            Google
        </div>
        <div class="fb">
            <i class="fab fa-facebook"></i>
            Facebook
        </div>
    </div>
</form>
