<div class="message-list scrollable">
  <div class="scrollable__target">
    <div class="message">
      <div class="message-tags"> <span class="dot dot--green"></span> </div>
      <div class="message__actions"> <i class="message__icon far fa-square"></i> <i
        class="message__icon fas fa-trash-alt"></i> <i
        class="message__icon fas fa-archive"></i> </div>
      <div class="message__content">
        <div class="message__exp">
          <div>Kanye West</div>
          <div class="date">Today, 15:14</div>
        </div>
        <div class="message__title"> Please come back bro ! </div>
        <div class="message__expr"> « Please, I need you to make my music fantastic! » </div>
      </div>
    </div>
    <div class="message message--new">
      <div class="message__actions"> <i class="message__icon far fa-square"></i> <i
        class="message__icon fas fa-trash-alt"></i> <i
        class="message__icon fas fa-archive"></i> </div>
      <div class="message__content">
        <div class="message__exp">
          <div>Phil Collins</div>
          <div class="date">Yesterday, 23:12</div>
        </div>
        <div class="message__title"> Genesis... again ? </div>
        <div class="message__expr"> « Hi Peter, are you interested in coming back to genesis? »
        </div>
      </div>
    </div>
    <div class="message">
      <div class="message-tags"> <span class="dot dot--purple"></span> <span
        class="dot dot--green"></span> </div>
      <div class="message__actions"> <i class="message__icon far fa-square"></i> <i
        class="message__icon fas fa-trash-alt"></i> <i
        class="message__icon fas fa-archive"></i> </div>
      <div class="message__content">
        <div class="message__exp">
          <div>Tim Curry</div>
          <div class="date">Yesterday, 20:45</div>
        </div>
        <div class="message__title"> I lost my glasses... </div>
        <div class="message__expr"> « Hi, I lost my glasses in your living room, could you bring
          them back to me? » </div>
      </div>
    </div>
    <div class="message message--new message--active">
      <div class="message__actions"> <i class="message__icon far fa-square"></i> <i
        class="message__icon fas fa-trash-alt"></i> <i
        class="message__icon fas fa-archive"></i> </div>
      <div class="message__content">
        <div class="message__exp">
          <div>Papy Bear</div>
          <div class="date">Yesterday, 12:01</div>
        </div>
        <div class="message__title"> Am I on the Internet? </div>
        <div class="message__expr"> « Oh, my God, I was scared! » </div>
      </div>
    </div>
    <div class="message message--new">
      <div class="message__actions"> <i class="message__icon far fa-square"></i> <i
        class="message__icon fas fa-trash-alt"></i> <i
        class="message__icon fas fa-archive"></i> </div>
      <div class="message__content">
        <div class="message__exp">
          <div>Josie Smith</div>
          <div class="date">Yesterday, 02:59</div>
        </div>
        <div class="message__title"> Have you heard of our lord Raptor Jesus? </div>
        <div class="message__expr"> « Do you know Raptor Jesus? He is the savior of us all. »
        </div>
      </div>
    </div>
    <div class="message">
      <div class="message-tags"> <span class="dot dot--red"></span> <span
        class="dot dot--blue"></span> </div>
      <div class="message__actions"> <i class="message__icon far fa-square"></i> <i
        class="message__icon fas fa-trash-alt"></i> <i
        class="message__icon fas fa-archive"></i> </div>
      <div class="message__content">
        <div class="message__exp">
          <div>Vador</div>
          <div class="date">Monday, 23:12</div>
        </div>
        <div class="message__title"> You know... The force... </div>
        <div class="message__expr"> « HHhhhHHhhhhH Jean hhhhrrhrhhhr Claude hhhHhhhHH » </div>
      </div>
    </div>
    <div class="message">
      <div class="message__actions"> <i class="message__icon far fa-square"></i> <i
        class="message__icon fas fa-trash-alt"></i> <i
        class="message__icon fas fa-archive"></i> </div>
      <div class="message__content">
        <div class="message__exp">
          <div>John Wayne</div>
          <div class="date">Monday, 17:08</div>
        </div>
        <div class="message__title"> STOP saving people !!! </div>
        <div class="message__expr"> « It's MY job, OKAY ?! » </div>
      </div>
    </div>
    <div class="message">
      <div class="message-tags"> <span class="dot dot--pink"></span> </div>
      <div class="message__actions"> <i class="message__icon far fa-square"></i> <i
        class="message__icon fas fa-trash-alt"></i> <i
        class="message__icon fas fa-archive"></i> </div>
      <div class="message__content">
        <div class="message__exp">
          <div>Discount4Life</div>
          <div class="date">Monday, 11:28</div>
        </div>
        <div class="message__title"> EXCLUSIVE DISCOUNT JUST FOR YOU </div>
        <div class="message__expr"> « Unbelievable! Save 89% on the green sock catalogue! »
        </div>
      </div>
    </div>
    <div class="message">
      <div class="message__actions"> <i class="message__icon far fa-square"></i> <i
        class="message__icon fas fa-trash-alt"></i> <i
        class="message__icon fas fa-archive"></i> </div>
      <div class="message__content">
        <div class="message__exp">
          <div>Dewey</div>
          <div class="date">Monday, 06:35</div>
        </div>
        <div class="message__title"> Poupi Poupi Poupi Pou. </div>
        <div class="message__expr"> « Poupi Poupi Poupi Pou. Poupi Poupi Poupi Pou. » </div>
      </div>
    </div>
    <div class="message">
      <div class="message__actions"> <i class="message__icon far fa-square"></i> <i
        class="message__icon fas fa-trash-alt"></i> <i
        class="message__icon fas fa-archive"></i> </div>
      <div class="message__content">
        <div class="message__exp">
          <div>Vlad Poutipout</div>
          <div class="date">Monday, 04:52</div>
        </div>
        <div class="message__title"> Vodka </div>
        <div class="message__expr"> « Я люблю водку настолько, что пукнул алкоголиком. » </div>
      </div>
    </div>
    <div class="message">
      <div class="message__actions"> <i class="message__icon far fa-square"></i> <i
        class="message__icon fas fa-trash-alt"></i> <i
        class="message__icon fas fa-archive"></i> </div>
      <div class="message__content">
        <div class="message__exp">
          <div>Captain Krabs</div>
          <div class="date">Monday, 02:16</div>
        </div>
        <div class="message__title"> Need for crab meat </div>
        <div class="message__expr"> « Hi, I need some coconut crab meat, quick. » </div>
      </div>
    </div>
  </div>
</div>
